<!DOCTYPE html>
<html lang="es" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Abejas en Lanus</title>

    <link rel="shortcut icon" href="/img/AbejasEnLanus.ico" />

    <!-- Bootstrap Core CSS -->
    <link href="js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angular/angular.min.js"></script>

    <script src="js/app.js"></script>

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="MainController" id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Abejas en Lanus</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#empecemos">Empecemos!</a>
                    </li>
                    <!--li>
                        <a class="page-scroll" href="#casos">Casos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#preguntas-frecuentes">Preguntas Frecuentes</a>
                    </li-->
                    <!--li>
                        <a class="page-scroll" href="#quienes-somos">Quienes somos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contactos">Otros</a>
                    </li-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenido a Abejas en Lanús!</div>
                <div class="intro-heading">Todo lo que necesita saber sobre las abejas silvestres de ciudad</div>
                <a href="#empecemos" class="page-scroll btn btn-xl">Empecemos!</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="empecemos">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2 col-md-offset-4" style="border:1px black solid">
                    <a href="#abejaSilvestre" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Abeja Silvestre</h4>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2 col-md-offset-2" style="border:1px black solid">
                    <a href="#enjambre" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Enjambre</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#colmenaSilvestre" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Colmena Silvestre</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#colmenaProductora" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Colmena Productora</h4>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#comoSiActuar" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Cómo SI actuar</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#comoNoActuar" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Cómo NO actuar</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#maltratos" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Maltratos</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#insectosRelacionados" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Insectos Relacionados</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#queProducen" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Qué producen</h4>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2" style="border:1px black solid;margin-left: -195px;">
                    <a href="#preguntasFrecuentes" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Preguntas Frecuentes</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#preguntasFrecuentes" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Preguntas Frecuentes</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#queProducen" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Qué producen</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#habitantesDeLaColmena" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Habitantes de la Colmena</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#loQueNoVemosDeUnaAbeja" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Lo que no vemos de una abeja</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#actividadesDeLosUltimosAños" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Actividades de los últimos años</h4>
                    </a>
                </div>
                <div class="col-md-2" style="border:1px black solid">
                    <a href="#videosRecomendablesParaConocerSobreLaAbeja" class="portfolio-link" data-toggle="modal">
                        <h4 class="service-heading">Videos Recomendables para conocer sobre la abeja</h4>
                        <!-- El maravilloso mundo de los animales de Disney: Las abejas -->
                    </a>
                </div>
                <!-- ÚLTIMO RECUADRO: Camatíes, Lechiguanas, abejorros y avispas -->
            </div>
        </div>
    </section>

    <section id="quienes-somos" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quienes somos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-offset-4">
                    <div class="team-member">
                        <ul class="list-inline social-buttons">
                            <li><a target="_blank" href="https://twitter.com/AbejasEnLanus"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a target="_blank" href="https://www.facebook.com/pages/Abejas-silvestres/1383257008601516"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="large text-muted well" style="color:#EDBC49;font-size:22px;font-weight:bold">Abejas en Lanus fue creada para colaborar con vecinos de Lanus sin fines de lucro ante la creciente reproducción de abejas que se duplica y triplica cada año prestando colaboración a bomberos y municipalidad: Defensa Civil, plagas urbanas y calidad ambiental.</p>
                </div>
            </div>
        </div>
    </section>

    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        <img src="img/bomberos-voluntarios.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img style="padding-top:50px;" src="img/municipio-lanus.gif" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img src="img/defensa-civil.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <section id="contactos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Si usted tiene algún inconveniente con abejas, puede comunicarse con Defensa Civil o Bomberos, quienes podrán darle información útil.</h2>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; AbejasEnLanus.com.ar 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a target="_blank" href="https://twitter.com/AbejasEnLanus"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.facebook.com/pages/Abejas-silvestres/1383257008601516"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#"></a>
                        </li>
                        <li><a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="portfolio-modal modal fade" ng-repeat="album in albums" id="{{album.name | toCamelCase}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{album.name}}</h2>
                            <p class="item-intro text-muted">{{album.description}}</p>
                            <img class="img-responsive" ng-repeat="photo in album.photos.data" src="{{photo.images[photo.images.length - 1].source}}" alt="{{}}">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery/dist/jquery.min.js"></script>
    <script src="js/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <script src="js/agency.js"></script>

</body>

</html>
